* {
  font-family: "Merriweather", serif;
  box-sizing: border-box;
}

body, .bg-custom {
  background-color: #f3f3f3;
}

.name {
  font-size: 30px;
  font-weight: 900;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 30px !important;
  font-weight: 700;
  font-family: "Cardo", serif;
}