* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body, .bg-custom {
  background-color: #f3f3f3;
}

.name {
  font-size: 30px;
  font-weight: 900;
  font-family: "Playfair Display", serif;
}